<div class="container-fluid">
  <div class='row'>
    <div align="center">
      <h1 class="home">Welcome!</h1>
      <h3>Please log in to continue.</h3>
    </div>
    
    <%= render 'form' %>

    <div align="center">
      <h3>Or <%= link_to 'register', register_path, class: 'register_link' %> to get started.</h3>
    </div>
  </div>
</div>