<div class="container-fluid">
  <div class='row'>
    <div align="center">
      <h1>Reset Password</h1>
    </div>
    
		<%= form_tag password_resets_path, :method => :post, class: 'form-horizontal', id: 'pw_reset_form' do %>
			<div class="form-group">
				<div class="control-label col-sm-4">
					<br><%= label_tag :email %>
				</div>
				<div class="col-sm-4">
					<span class="email_error_message">*Please enter a valid email.</span><br>
					<%= text_field_tag :email, params[:email], class: "form-control", id: "email", placeholder: "Enter your email" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<%= submit_tag 'Reset Password', class: 'btn btn-success btn-lg item_submit', id: 'reset_pw_button' %>
				</div>
			</div> 
		<% end %>
		
  </div>
</div>

<div id="loader_background">
	<div class="loader">Loading...</div>			
</div>


<script>
  jQuery(function($) 
	{
		$('#pw_reset_form').submit(function (e) 
		{
			e.preventDefault(); debugger;
			
			var EMAIL_REGEX = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			var $email = $('#email').val();
			
			if ($email && EMAIL_REGEX.test($email))
			{
				console.log('clicked');
				$('#loader_background').css('display', 'block');
				$('.email_error_message').css('display', 'none');
				$('#email').css('border-color', '');
				this.submit();
			}
			else
			{
				$('.email_error_message').css('display', 'inline');
				$('#email').css('border-color', '#c51515');
			}
		});
	});
</script>