
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% @users.each do |user| %>
        <div class="panel panel-default show_all_users">
          <div class="panel-body users_index">
            <h2><%= link_to user.username, user_path(user) %></h2>
            <%= link_to user.email, "mailto:#{user.email}", class: 'user_email' %>
						<%= user.location %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @users %>
    </div>
  </div>
</div>