<div class="container-fluid">
  <div class="row">
    <div align="center">
      <h1>Protocols</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      
      <% @protocols.each do |protocol| %>
        <div class="panel panel-default show_all">
          <div class="panel-body">
            <div class="left show_all_title"><%= link_to protocol.name, protocol_path(protocol) %></div>
            <div class="clearer"></div>
          <p class="left">
						<%= protocol.amount %>
					</p>
          </div>
        </div>
      <% end %>
      <div align="center">
        <%= will_paginate @protocols %>
      </div>
    </div>
  </div>
</div>