@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);


body {
	background-color: #f4f3ee; /* #555 */
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

.row {
	margin: 0;
}

#main_content {
	background-color: #f4f3ee;
	padding: 40px 0 80px;
}

h1 {
	margin: 0 0 15px;
	font-size: 28px;
	font-weight: bold;
	width: 85%;
}

h1.home {
	width: 100%;
	font-size: 42px;
	margin: 10px 0;
}

h2 {
	font-size: 22px;
	margin: 0 0 10px;
}

h2 > a:hover,
h2 > a:focus {
	text-decoration: none;
}

h3 {
	font-size: 22px;
	margin: 30px 0 25px;
}

p {
	margin-bottom: 0;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

hr {
	margin-top: 10px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.meta {
	font-size: 10px;
	color: #777;
}

.btn-success {
	font-size: 14px;
	background-color: #62ce27;
	border-color: #59cf19;
}

.btn-success:hover {
	background-color: #43b803;
	border-color: #3ba800;
}

.btn-warning {
	border-color: #f0ad4e;
}

.panel-body {
	padding: 20px 15px;
}


/* navigation */

.top {
	padding: 0;
}

#top {
	background-color: #555;
	height: 100px;
	position: relative;
}

#top img {
	width: 75px;
	margin: 10px 0 0 40px;
}

.user_greeting {
	position: absolute;
	top: 0;
	right: 0;
	padding: 65px 40px 0 0;
}

.hello span.salud {
	margin: 0 20px 0 7px;
	color: #fff;
}

.glyphicon-user.greeting {
	color: #ccc;
}

.user_dropdown {
	list-style: none;
	padding: 0;
}

.dropdown-toggle.user_settings,
.dropdown-toggle.user_settings:focus {
	color: #59cf19;
	text-decoration: none;
}

.dropdown-toggle.user_settings:hover {
	color: #43b803;
	text-decoration: none;
}

.not_logged_in,
.not_logged_in:focus {
	color: #fff;
	margin-left: 15px;
}

.not_logged_in:hover,
.not_logged_in:active {
	color: #59cf19;
}

.navbar {
	border-radius: 0;
	margin:  0;
	-webkit-box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
	box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-nav > li > a {
	color: #bbb;
}


/* forms */

form {
	margin-top: 20px;
}

.form-control {
	color: #666;
}

.form-control:focus {
	color: #000;
}

.error {
  list-style: none;
  color: #c51515;
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.field_with_errors input {
	border-color: #c51515;
}

.item_submit {
	width: 100%;
	font-weight: bold;
}

form.school_filter,
form.activity {
	margin-top: 0;
	margin-bottom: 20px;
}

.forgot_password {
	font-size: 12px;
	margin-left: 5px;
}


/* item/user show pages */

.show_all {
	margin-bottom: 8px;
}

.show_all .panel-body,
.show_all.well {
	padding: 8px 10px;
}

/*.show_all:hover {
	background-color: #fcfcf9;
}*/

/*.show_all.well:hover {
	background-color: #f7f7f7;
}*/

.show_all_title {
	width: 55%;
	font-size: 16px;
	float: left;
}


.edit_item_dropdown {
	background: transparent;
	border: none;
	margin-top: 2px;
}

.edit_item_dropdown:hover,
.edit_item_dropdown:active {
	color: #43b803;
}

.edit_user_dropdown {
	position: absolute;
	top: 20px;
	right: 30px;
}

.show_all_users .panel-body {
	padding: 15px 20px;
}

.side {
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.side form {
	margin-top: 0;
}

.side p {
	margin-bottom: 0;
}

.side hr {
	margin-top: 20px;
}

.borrow {
	width: 100%;
	font-weight: bold;
}

.user_items {
	padding: 0;
	list-style: none;
}

.currently_borrowing {
	padding: 0;
	margin-top: 5px;
	list-style: none;
}

#exchange_history {
	display: none;
	padding: 10px 0 0 13px;
}

#exchange_history li,
#exchange_history p {
	margin-bottom: 8px;
	font-size: 12px;
}

#exchange_history hr {
	margin-top: 3px;
}

.view_history {
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 0;
}

.user_email {
	color: #000;
}


/* pagination */

.pagination {
	margin: 10px auto 5px;
}

.pagination a {
	margin: 0 10px;
}

.pagination em {
	margin: 0 5px;
	font-style: normal;
	background-color: #fff;
	padding: 5px;
}

.pagination .disabled {
	visibility: hidden;
	padding: 10px;
}


/* delete confirmation */

.modal-dialog {
	width: 300px;
}

.modal-header {
	display: none;
}

.modal-body p {
	font-size: 16px;
	padding: 5px;
}

.modal-footer {
	padding-top: 0;
	border: none;
	text-align: center;
}



@media (max-width: 768px) {
	.side {
		margin-left: 0;
	}
	
	.user_greeting {
		padding-top: 35px;
		height: 100px;
	}
	
	.hello {
		position: absolute;
		width: 250px;
		bottom: 15px;
		right: 20px;
	}
	
	.not_logged_in {
		margin-top: 30px;
	}
	
	.show_all_title {
		width: 75%;
	}
	
	.table_row p {
		display: block;	
	}
	
	.clearer {
		clear: both;
	}
	
	h1 {
		width: 75%;
	}
	
	h1.home {
		width: 100%;
	}
}

@media (max-width: 400px) {
	#top img {
		margin-left: 20px;
	}
	
	.user_greeting {
		padding-right: 20px;
	}
	
	.hello {
		right: 0;
	}
	
	h1 {
		width: 60%;
	}
	
	h1.home {
		width: 100%;
	}
}
