@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);


body {
	background-color: #f4f3ee; /* #555 */
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

#main_content {
	background-color: #f4f3ee;
	padding: 40px 0 80px;
}

h1 {
	margin: 0 0 5px;
	font-size: 28px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	margin: 0 0 5px;
}

h2 > a:hover,
h2 > a:focus {
	text-decoration: none;
}

hr {
	margin-top: 10px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.meta {
	font-size: 10px;
	color: #777;
}

.btn-success {
	font-size: 14px;
	background-color: #59cf19;
	border-color: #59cf19;
}

.btn-success:hover {
	background-color: #43b803;
	border-color: #3ba800;
}

.btn-warning {
	border-color: #f0ad4e;
}

.top {
	padding: 0;
}

#top {
	background-color: #555;
	height: 100px;
	position: relative;
}

#top img {
	width: 75px;
	margin: 10px 0 0 40px;
}

.user_greeting {
	position: absolute;
	top: 0;
	right: 0;
	padding: 65px 40px 0 0;
}

.hello span.salud {
	margin: 0 20px 0 7px;
	color: #fff;
}

.glyphicon-user.greeting {
	color: #ccc;
}

.user_dropdown {
	list-style: none;
	padding: 0;
}

.dropdown-toggle.user_settings,
.dropdown-toggle.user_settings:focus {
	color: #59cf19;
	text-decoration: none;
}

.dropdown-toggle.user_settings:hover {
	color: #43b803;
	text-decoration: none;
}

.not_logged_in,
.not_logged_in:focus {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
}

.not_logged_in:hover,
.not_logged_in:active {
	color: #59cf19;
	text-decoration: none;
}

.navbar {
	border-radius: 0;
	margin:  0;
	-webkit-box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
	box-shadow: 0px -10px 30px -2px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-nav > li > a {
	color: #bbb;
}


form {
	margin-top: 20px;
}

.form-control {
	color: #666;
}

.form-control:focus {
	color: #000;
}

.error {
  list-style: none;
  color: #c51515;
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.item_submit {
	width: 100%;
	font-weight: bold;
}

.edit_item_dropdown {
	background: transparent;
	border: none;
}

.edit_item_dropdown:hover,
.edit_item_dropdown:active {
	color: #43b803;
}

.side {
	margin-left: 20px;
}

.borrow {
	width: 100%;
	font-weight: bold;
}

.user_items {
	padding: 0;
	list-style: none;
}

.currently_borrowing {
	padding: 0;
	list-style: none;
}



@media (max-width: 768px) {
	.side {
		margin-left: 0;
	}
	
	.user_greeting {
		padding-top: 35px;
		height: 100px;
	}
	
	.hello {
		position: absolute;
		width: 250px;
		bottom: 15px;
		right: 20px;
	}
	
	.not_logged_in {
		margin-top: 30px;
	}
}

@media (max-width: 400px) {
	#top img {
		margin-left: 20px;
	}
	
	.user_greeting {
		padding-right: 20px;
	}
	
	.hello {
		right: 0;
	}
}
